.Button {
  & button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    background: #FB8f67;
    color: #156064;
    border: #000000;
    box-shadow: 2px 2px 2px black;
    border-radius: 3px;
    margin: 10px;
    padding: 4px 6px;
  }
}