:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f8e16c;
}
h1 {
  font-size: 80px;
  margin: 0px;
  color: #156064;
}

h2 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #156064;
}

button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  background: #FB8f67;
  color: #156064;
  border: #000000;
  box-shadow: 2px 2px 2px black;
  border-radius: 3px;
  margin: 10px;
  padding: 4px 6px;
}

div.duck {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px
}

#pickedPerson {
  & img {
    width: 138px;
    height: 138px;
    object-fit: cover;
  }
}

#pickedPeople,
#unpickedPeople,
#stashedPeople {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  & .person {
    flex: 1 1 250px;

    & img {
      width: 138px;
      height: 138px;
      object-fit: cover;
    }
  }
}

dialog {
  background: #FFC2B4;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 4px #000000);
  padding: 10px;
  max-width: 90%;
  border: none;
}

.person {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  text-align: center;
  max-width: 300px;
  background-color: #00c49a;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 4px #000000);
  height: 225px;
  padding: 25px;

  & .person-name-container {
    -webkit-box-shadow: -6px 6px 0px -3px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: -6px 6px 0px -3px rgba(0, 0, 0, 0.47);
    box-shadow: -6px 6px 0px -3px rgba(0, 0, 0, 0.47);
    background-color: #156064;
    padding: 5px 0;
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    margin: auto 10px 0 0;
    height: 100px;
    width: 100px;
    border-radius: 2px;

    & .person-name {
      font-size: large;
      font-style: bold;
      font-weight: 700;
      color: #f8e16c;
      text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.53);
      width: 100%;
    }
  }

  & .person-avi {
    -webkit-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.47);
    box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.47);
    width: 150px;
    height: 150px;
    border-radius: 2px;
  }

}

#pickedPerson {
  display: flex;
  justify-content: center;

}

header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  background-color: #00C49A;
  border-radius: 16px;
  justify-content: center;
  padding: 16px 18px;
  filter: drop-shadow(2px 2px 4px #000000);
  & img {
    max-height: 100px;
    width: auto;
  }
}

section.buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.star {
  position: absolute;
  bottom: 50%; 
  left: 50%;
  width: 50px;
  height: 50px;
  opacity: 0;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.animate {
  animation: shootStar 2s linear forwards;
}

@keyframes shootStar {
  0% {
      transform: translate(-50%, 0) scale(0);
      opacity: 1;
  }
  100% {
      transform: translate(-50%, -300px) scale(1.5);
      opacity: 0;
  }
}

/* Individual animations for each star to vary the effect */
#star1 {
  background-color: blue;
  animation-delay: 0s;
}
#star2 {
  background-color: red;
  animation-delay: 0.5s;
}
#star3 {
  background-color: white;
  animation-delay: 1s;
}